@font-face {
    font-family: pixel;
    src: url("..fotrnb/pixel-webfont.eot");
    src: url("../fonts/pixel-webfont.eot?#iefix") format("embedded-opentype"),url(../fonts/pixel-webfont.woff2) format("woff2"),url(../fonts/pixel-webfont.woff) format("woff"),url(../fonts/pixel-webfont.ttf) format("truetype"),url(../fonts/pixel-webfont.svg#pixelregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: pixel_condensed;
    src: url("../fonts/pixel_condensed-webfont.eot");
    src: url("../fonts/pixel_condensed-webfont.eot?#iefix") format("embedded-opentype"),url(../fonts/pixel_condensed-webfont.woff2) format("woff2"),url(../fonts/pixel_condensed-webfont.woff) format("woff"),url(../fonts/pixel_condensed-webfont.ttf) format("truetype"),url(../fonts/pixel_condensed-webfont.svg#pixel_condensedregular) format("svg");
    font-weight: 400;
    font-style: normal;
}
