.is-mobile {
  #desktop-breakpoint {
    display: inline;
  }

  #small-desktop-breakpoint {
    display: none;
  }

  #tablet-landscape-breakpoint {
    display: none;
  }

  #tablet-breakpoint {
    display: none;
  }

  #mobile-breakpoint {
    display: none;
  }
}

@include media($small-desktop) {
  .is-mobile {
    #desktop-breakpoint {
      display: none;
    }

    #small-desktop-breakpoint {
      display: inline;
    }

    #tablet-landscape-breakpoint {
      display: none;
    }

    #tablet-breakpoint {
      display: none;
    }

    #mobile-breakpoint {
      display: none;
    }
  }
}

@include media($tablet-landscape) {
  .is-mobile {
    #desktop-breakpoint {
      display: none;
    }

    #small-desktop-breakpoint {
      display: none;
    }

    #tablet-landscape-breakpoint {
      display: inline;
    }

    #tablet-breakpoint {
      display: none;
    }

    #mobile-breakpoint {
      display: none;
    }
  }
}

@include media($tablet) {
  .is-mobile {
    #desktop-breakpoint {
      display: none;
    }

    #small-desktop-breakpoint {
      display: none;
    }

    #tablet-landscape-breakpoint {
      display: none;
    }

    #tablet-breakpoint {
      display: inline;
    }

    #mobile-breakpoint {
      display: none;
    }
  }
}

@include media($mobile) {
  .is-mobile {
    #desktop-breakpoint {
      display: none;
    }

    #small-desktop-breakpoint {
      display: none;
    }

    #tablet-landscape-breakpoint {
      display: none;
    }

    #tablet-breakpoint {
      display: none;
    }

    #mobile-breakpoint {
      display: inline;
    }
  }
}
