.section-title {
  display: inline-block;
  margin: 0 0 40px 0;
  font: 400 80px/60px $f-pixel;
  text-transform: uppercase;
}

.title-c-primary,
.title-c-secondary {
  display: inline-block;
  padding: 20px 10px 20px 20px;
  color: $c-fore;
}

.title-c-primary {
  background-color: $c-primary;
}

.title-c-secondary {
  background-color: $c-secondary;
}

.title-primary {
  color: $c-primary;
}

.title-secondary {
  color: $c-secondary;
}

.title-fore {
  color: $c-fore;
}

@include media($mobile) {
  .section-title {
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 20px;
  }
}
