/* Fonts */

$f-pixel: pixel, sans-serif;
$f-pixel-condensed: pixel_condensed, sans-serif;

/* Sizes */

$max-width: 1200px;
$tab: 40px;

$mobile: 767px;
$tablet: 1023px;
$tablet-landscape: 1024px;
$small-desktop: 1300px;

@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

/* Colours */

$c-primary: #F14848;
$c-secondary: #00FEFE;
$c-fore: #272727;
$c-fore-light: #373737;
$c-fore-very-light: #4a4a4a;
$c-link: #F7D358;

$c-keyword: rgba($c-secondary, 0.2);
$c-number: #FA58D0;
