<header class="header sticky">
  <nav>
    <a href="#" class="burger">
      <span></span>
      <span></span>
      <span></span>
    </a>
    <ul class="sections">
      <li class="active"><a href="#intro" data-es="Inicio" data-ast="Entamu">Home</a></li>
      <li><a href="#experience" data-es="Experiencia" data-ast="Esperiencia">Experience</a></li>
      <li><a href="#studies" data-es="Estudios" data-ast="Estudios">Studies</a></li>
      <li><a href="#projects" data-es="Proyectos" data-ast="Proyeutos">Projects</a></li>
    </ul>
    <p class="clock" id="clock">
      <span class="time hour"></span>
      <span class="blinker"></span>
      <span class="time minutes"></span>
      <span class="seconds"></span>
    </p>
    <ul class="languages">
      <li class="active">
        <a href="/?lang=en" class="lang-s" title="English" data-language="en">EN</a>
      </li>
      <li>
        <a href="/?lang=es" class="lang-s" title="Español" data-language="es">ES</a>
      </li>
      <li>
        <a href="/?lang=ast" class="lang-s" title="Asturianu" data-language="ast">AST</a>
      </li>
    </ul>
  </nav>
</header>
