<span id="intro" class="anchor"></span>

<section class="intro cv-section animation-section" data-section="intro">
  <div class="wrapper">
    <h1>
      <div class="line">
        <p class="typing">Juan Castro</p>
        <div>
          <img alt="" src="/images/heart.svg" />
          <img alt="" src="/images/heart.svg" />
          <img alt="" src="/images/heart-semi.svg" />
        </div>
      </div>
      <hr />
    </h1>
    <div class="three-col">
      <figure>
        <img alt="Juan Castro" class="gif" id="gif" src="/images/juan-castro.gif" />
        <div class="puzzle" id="puzzle">
          <picture>
            <img alt="" src="/images/puzzle/1.png" />
            <img alt="" src="/images/puzzle/2.png" />
            <img alt="" src="/images/puzzle/3.png" />
            <img alt="" src="/images/puzzle/4.png" />
            <img alt="" src="/images/puzzle/5.png" />
            <img alt="" src="/images/puzzle/6.png" />
            <img alt="" src="/images/puzzle/7.png" />
            <img alt="" src="/images/puzzle/8.png" />
            <img alt="" src="/images/puzzle/9.png" />
            <img alt="" src="/images/puzzle/10.png" />
            <img alt="" src="/images/puzzle/11.png" />
            <img alt="" src="/images/puzzle/12.png" />
            <img alt="" src="/images/puzzle/13.png" />
            <img alt="" src="/images/puzzle/14.png" />
            <img alt="" src="/images/puzzle/15.png" />
            <img alt="" src="/images/puzzle/16.png" />
          </picture>
        </div>
      </figure>
      <div class="tetris" id="tetris"></div>
      <div class="scores">
        <p class="message typing" data-es="¡Bienvenido!" data-ast="¡Bienveníu!">¡Bienvenido!</p>
        <p class="message typing">Welcome!</p>
        <p class="message"><span id="level"></span></p>
        <div class="score">
          <span></span>
          <p id="score">0250</p>
        </p>
      </div>
    </div>
  </div>
  <h2>
    <ul class="typing-chain">
      <li data-es="Informática" data-ast="Informática" class="typing-child">Computer Science</li>
      <li data-es="Desarrollador Front" data-ast="Desenvolvedor Front" class="typing-child">Front Developer</li>
      <li data-es="Diseño" data-ast="Diseñu" class="typing-child">Design</li>
    </ul>
    <ul class="typing-chain">
      <li data-es="Desarrollador Back" data-ast="Desenvolvedor Back" class="typing-child">Back Developer</li>
      <li class="typing-child">Ruby</li>
      <li class="typing-child">Python</li>
    </ul>
    <ul class="typing-chain">
      <li class="typing-child">Rails</li>
      <li class="typing-child">PHP</li>
      <li class="typing-child">Laravel</li>
      <li class="typing-child">Symfony</li>
      <li class="typing-child">SASS</li>
      <li class="typing-child">JavaScript</li>
    </ul>
  </h2>
</section>
