<span id="experience" class="anchor"></span>

<section class="experience cv-section" data-section="experience">
  <div class="wrapper">
    <h2 class="section-title title-secondary animation-section typing" data-es="Experiencia" data-ast="Esperiencia">Experience</h2>
    <div class="ide">

      <article class="unit animation-section fading">
        <h3 class="where line">
          <span class="link"><a href="https://www.edreamsodigeo.com/" rel="nofollow">eDreams</a></span>
          <span class="cursor"></span>
        </h3>
        <div class="unit-data line">
          <span class="array-start unindent"></span>
          <h4 class="position trail-comma line">
            <span class="desc">position</span>
            <span class="string" data-es="Desarrollador Full Stack" data-ast="Desenvolvedor Full Stack">Full Stack Developer</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">from</span>
            <span class="number">2017</span>
          </h4>
          <h5 class="description trail-comma line">
            <span class="desc">description</span>
            <span class="string" data-es="Desarrollo web y mantenimiento de producto" 
              data-ast="Desenvuelvo web y caltenimientu de productu">Web development and application maintenance</span>
          </h5>
          <div class="technologies line">
            <span class="desc">technologies</span>
            <span class="array-start line"></span>
            <ul>
              <li>
                <span class="desc line">backend</span>
                <ul class="array inline line">
                  <li><span class="symbol">Java</span></li>
                  <li><span class="symbol">JBoss</span></li>
                  <li><span class="symbol">Jenkins</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">frontend</span>
                <ul class="array inline line">
                  <li><span class="symbol">HTML5</span></li>
                  <li><span class="symbol">CSS3</span></li>
                  <li><span class="symbol">jQuery</span></li>
                  <li><span class="symbol">SASS</span></li>
                </ul>
                <ul class="array inline line">
                  <li><span class="symbol">Webpack</span></li>
                  <li><span class="symbol">Underscore.js</span></li>
                  <li><span class="symbol">NPM</span></li>
                </ul>
                <ul class="array inline line">
                <li><span class="symbol">Cucumber</span></li>
                <li><span class="symbol">Gherkin</span></li>
              </ul>
              </li>
            </ul>
            <span class="array-end line"></span>
          </div>
          <span class="array-end unindent line"></span>
        </div>
        <span class="end line"></span>
        <span class="line empty"></span>
      </article>

      <article class="unit animation-section fading">
        <h3 class="where line">
          <span class="link"><a href="https://the-cocktail.com/" rel="nofollow">The Cocktail</a></span>
        </h3>
        <div class="unit-data line">
          <span class="array-start unindent"></span>
          <h4 class="position trail-comma line">
            <span class="desc">position</span>
            <span class="string" data-es="Desarrollador Full Stack" 
              data-ast="Desenvolvedor Full Stack">Full Stack Developer</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">from</span>
            <span class="number">2016</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">to</span>
            <span class="number">2017</span>
          </h4>
          <h5 class="description trail-comma line">
            <span class="desc">description</span>
            <span class="string" data-es="Desarrollo web y mantenimiento de aplicaciones"
            data-ast="Desenvuelvo web y caltenimientu d'aplicaciones">Web development and application maintenance</span>
          </h5>
          <div class="technologies line">
            <span class="desc">technologies</span>
            <span class="array-start line"></span>
            <ul>
              <li>
                <span class="desc line">backend</span>
                <ul class="array inline line">
                  <li><span class="symbol">Ruby</span></li>
                  <li><span class="symbol">Rails</span></li>
                  <li><span class="symbol">Elixir</span></li>
                </ul>
                <ul class="array inline line">
                  <li><span class="symbol">PHP</span></li>
                  <li><span class="symbol">Laravel</span></li>
                  <li><span class="symbol">Symfony</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">frontend</span>
                <ul class="array inline line">
                  <li><span class="symbol">HTML5</span></li>
                  <li><span class="symbol">CSS3</span></li>
                  <li><span class="symbol">jQuery</span></li>
                  <li><span class="symbol">SASS</span></li>
                </ul>
                <ul class="array inline line">
                  <li><span class="symbol">Webpack</span></li>
                  <li><span class="symbol">Gulp</span></li>
                  <li><span class="symbol">NPM</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">database</span>
                <ul class="array inline line">
                  <li><span class="symbol">MySQL</span></li>
                  <li><span class="symbol">PostgreSQL</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">cms</span>
                <ul class="array inline line">
                  <li><span class="symbol">Drupal</span></li>
                  <li><span class="symbol">Refinery</span></li>
                </ul>
              </li>
            </ul>
            <span class="array-end line"></span>
          </div>
          <span class="array-end unindent line"></span>
        </div>
        <span class="end line"></span>
        <span class="line empty"></span>
      </article>

      <article class="unit animation-section fading">
        <h3 class="where line">
          <span class="link"><a href="http://www.simbiosys.es/" rel="nofollow">Simbiosys</a></span>
        </h3>
        <div class="unit-data line">
          <span class="array-start unindent"></span>
          <h4 class="position trail-comma line">
            <span class="desc">position</span>
            <span class="string" data-es="Desarrollador Full Stack" data-ast="Desenvolvedor Full Stack">Full Stack Developer</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">from</span>
            <span class="number">2015</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">to</span>
            <span class="number">2016</span>
          </h4>
          <h5 class="description trail-comma line">
            <span class="desc">description</span>
            <span class="string" data-es="Desarrollo web y gestión de proyectos"
            data-ast="Desenvuelvo web y xestión de proyectos">Web development and project management</span>
          </h5>
          <div class="technologies line">
            <span class="desc">technologies</span>
            <span class="array-start line"></span>
            <ul>
              <li>
                <span class="desc line">backend</span>
                <ul class="array inline line">
                  <li><span class="symbol">PHP</span></li>
                  <li><span class="symbol">Python</span></li>
                  <li><span class="symbol">Node.js</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">frontend</span>
                <ul class="array inline line">
                  <li><span class="symbol">HTML5</span></li>
                  <li><span class="symbol">CSS3</span></li>
                  <li><span class="symbol">jQuery</span></li>
                  <li><span class="symbol">SASS</span></li>
                </ul>
                <ul class="array inline line">
                  <li><span class="symbol">CoffeeScript</span></li>
                  <li><span class="symbol">Grunt</span></li>
                  <li><span class="symbol">NPM</span></li>
                  <li><span class="symbol">Handlebars.js</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">database</span>
                <ul class="array inline line">
                  <li><span class="symbol">MySQL</span></li>
                  <li><span class="symbol">MongoDB</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">cms</span>
                <ul class="array inline line">
                  <li><span class="symbol">Drupal</span></li>
                  <li><span class="symbol">WordPress</span></li>
                </ul>
              </li>
            </ul>
            <span class="array-end line"></span>
          </div>
          <span class="array-end unindent line"></span>
        </div>
        <span class="end line"></span>
        <span class="line empty"></span>
      </article>

      <article class="unit animation-section fading">
        <h3 class="where line">
          <span class="link"><a href="http://www.weso.es/" rel="nofollow">Weso</a></span>
        </h3>
        <div class="unit-data line">
          <span class="array-start unindent"></span>
          <h4 class="position trail-comma line">
            <span class="desc">position</span>
            <span class="string" data-es="Desarrollador Full Stack" data-ast="Desenvolvedor Full Stack">Full Stack Developer</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">from</span>
            <span class="number">2013</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">to</span>
            <span class="number">2014</span>
          </h4>
          <h5 class="description trail-comma line">
            <span class="desc">description</span>
            <span class="string" data-es="Desarrollo web y gestión de proyectos"
            data-ast="Desenvuelvo web y xestión de proyectos">Web development and project management</span>
          </h5>
          <div class="technologies line">
            <span class="desc">technologies</span>
            <span class="array-start line"></span>
            <ul>
              <li>
                <span class="desc line">backend</span>
                <ul class="array inline line">
                  <li><span class="symbol">PHP</span></li>
                  <li><span class="symbol">Python</span></li>
                  <li><span class="symbol">Node.js</span></li>
                </ul>
                <ul class="array inline line">
                  <li><span class="symbol">Flask</span></li>
                  <li><span class="symbol">Express JS</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">frontend</span>
                <ul class="array inline line">
                  <li><span class="symbol">HTML5</span></li>
                  <li><span class="symbol">CSS3</span></li>
                  <li><span class="symbol">jQuery</span></li>
                  <li><span class="symbol">SASS</span></li>
                </ul>
                <ul class="array inline line">
                  <li><span class="symbol">CoffeeScript</span></li>
                  <li><span class="symbol">Grunt</span></li>
                  <li><span class="symbol">NPM</span></li>
                  <li><span class="symbol">Handlebars.js</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">database</span>
                <ul class="array inline line">
                  <li><span class="symbol">MySQL</span></li>
                  <li><span class="symbol">MongoDB</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">cms</span>
                <ul class="array inline line">
                  <li><span class="symbol">Drupal</span></li>
                  <li><span class="symbol">WordPress</span></li>
                </ul>
              </li>
            </ul>
            <span class="array-end line"></span>
          </div>
          <span class="array-end unindent line"></span>
        </div>
        <span class="end line"></span>
        <span class="line empty"></span>
      </article>

      <article class="unit animation-section fading">
        <h3 class="where line">
          <span class="link"><a href="http://www.espiralms.com/" rel="nofollow">Espiral Microsistemas</a></span>
        </h3>
        <div class="unit-data line">
          <span class="array-start unindent"></span>
          <h4 class="position trail-comma line">
            <span class="desc">position</span>
            <span class="string" data-es="Desarrollador Full Stack" data-ast="Desenvolvedor Full Stack">Full Stack Developer</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">from</span>
            <span class="number">2010</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">to</span>
            <span class="number">2013</span>
          </h4>
          <h5 class="description trail-comma line">
            <span class="desc">description</span>
            <span class="string" data-es="Desarrollo web y mantenimiento de producto"
            data-ast="Desenvuelvo web y caltenimientu de productu">Web development and product maintenance</span>
          </h5>
          <div class="technologies line">
            <span class="desc">technologies</span>
            <span class="array-start line"></span>
            <ul>
              <li>
                <span class="desc line">backend</span>
                <ul class="array inline line">
                  <li><span class="symbol">C#</span></li>
                  <li><span class="symbol">ASP .NET</span></li>
                  <li><span class="symbol">C++</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">frontend</span>
                <ul class="array inline line">
                  <li><span class="symbol">HTML5</span></li>
                  <li><span class="symbol">CSS3</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">database</span>
                <ul class="array inline line">
                  <li><span class="symbol">Microsoft SQL Serve</span></li>
                  <li><span class="symbol">Oracle</span></li>
                </ul>
              </li>
            </ul>
            <span class="array-end line"></span>
          </div>
          <span class="array-end unindent line"></span>
        </div>
        <span class="end line"></span>
        <span class="line empty"></span>
      </article>

      <article class="unit animation-section fading">
        <h3 class="where line">
          <span class="link"><a href="http://www.ingesco.es/" rel="nofollow">Ingesco Sistemas Informáticos</a></span>
        </h3>
        <div class="unit-data line">
          <span class="array-start unindent"></span>
          <h4 class="position trail-comma line">
            <span class="desc">position</span>
            <span class="string" data-es="Desarrollador Backend" data-ast="Desenvolvedor Backend">Backend Developer</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">from</span>
            <span class="number">2008</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">to</span>
            <span class="number">2010</span>
          </h4>
          <h5 class="description trail-comma line">
            <span class="desc">description</span>
            <span class="string" data-es="Desarrollo web y mantenimiento de aplicaciones"
            data-ast="Desenvuelvo web y caltenimientu d'aplicaciones">Web development and application maintenance</span>
          </h5>
          <div class="technologies line">
            <span class="desc">technologies</span>
            <span class="array-start line"></span>
            <ul>
              <li>
                <span class="desc line">backend</span>
                <ul class="array inline line">
                  <li><span class="symbol">C#</span></li>
                  <li><span class="symbol">BASIC</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">frontend</span>
                <ul class="array inline line">
                  <li><span class="symbol">HTML5</span></li>
                  <li><span class="symbol">CSS3</span></li>
                </ul>
              </li>
              <li>
                <span class="desc line">database</span>
                <ul class="array inline line">
                  <li><span class="symbol">PICK D3</span></li>
                </ul>
              </li>
            </ul>
            <span class="array-end line"></span>
          </div>
          <span class="array-end unindent line"></span>
        </div>
        <span class="end line"></span>
        <span class="line empty"></span>
      </article>

      <article class="unit animation-section fading">
        <h3 class="where line">
          <span class="link">Centro de Estudios Técnicos Superiores</span>
        </h3>
        <div class="unit-data line">
          <span class="array-start unindent"></span>
          <h4 class="position trail-comma line">
            <span class="desc">position</span>
            <span class="string" data-es="Desarrollador Backend" data-ast="Desenvolvedor Backend">Backend Developer</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">from</span>
            <span class="number">2008</span>
          </h4>
          <h4 class="when trail-comma line">
            <span class="desc">to</span>
            <span class="number">2010</span>
          </h4>
          <h5 class="description trail-comma line">
            <span class="desc">description</span>
            <span class="string" data-es="Profesor de clases particulares para universitarios"
            data-ast="Profesor de clases particulares para universitarios">Private lessons teacher for College students</span>
          </h5>
          <div class="technologies line">
            <span class="desc">technologies</span>
            <span class="array-start line"></span>
            <ul>
              <li>
                <span class="desc line">subjects</span>
                <ul class="array inline line">
                  <li><span class="symbol">C++</span></li>
                  <li><span class="symbol" data-es="Introducción a la Programación"
                  data-ast="Introducción a la Programación">Programming introduction</span></li>
                </ul>
                <ul class="array inline line">
                  <li><span class="symbol" data-es="Estructuras de datos"
                  data-ast="Estructures de datos">Data Structures</span></li>
                  <li><span class="symbol" data-es="Algoritmia" data-ast="Algoritmia">Algorithms</span></li>
                </ul>
              </li>
            </ul>
            <span class="array-end line"></span>
          </div>
          <span class="array-end unindent line"></span>
        </div>
        <span class="end line"></span>
        <span class="line empty"></span>
      </article>

    </div>
  </div>

  <span class="ide-bar"></span>
</section>
