<footer class="footer">
  <div class="wrapper">
    <p class="game-over"></p>
    <div class="links">
      <a class="link mail" href="mailto:info@juancastro.es">info@juancastro.es</a>
      <a class="link twitter" rel="me nofollow" href="https://twitter.com/castrofernandez">Twitter</a>
      <a class="link linkedin" rel="me nofollow" href="https://es.linkedin.com/pub/juan-castro-fernández/35/43b/728">Linked<span>In</span></a>
      <a class="link github" rel="me nofollow" href="https://github.com/castrofernandez/">GitHub</a>
    </div>
    <p class="name">Juan Castro</p>
  </div>
  <p class="made">
    <img alt="" src="/images/asturies.svg" />
    <span data-es="Hecho en Asturias" data-ast="Fechu n'Asturies">Made in Asturias</span>
  </p>
</footer>
