<header class="mobile-menu">
  <p class="title">Juan Castro</p>
  <ul class="sections">
    <li><a href="#intro" data-es="Inicio">Home</a></li>
    <li><a href="#experience" data-es="Experiencia">Experience</a></li>
    <li><a href="#studies" data-es="Estudios">Studies</a></li>
    <li><a href="#projects" data-es="Proyectos">Projects</a></li>
  </ul>
  <ul class="links">
    <li><a class="link mail" href="mailto:info@juancastro.es">info@juancastro.es</a></li>
    <li><a class="link twitter" rel="me nofollow" href="https://twitter.com/castrofernandez">Twitter</a></li>
    <li><a class="link linkedin" rel="me nofollow" href="https://es.linkedin.com/pub/juan-castro-fernández/35/43b/728">Linked<span>In</span></a></li>
  </div>
</header>
