<span id="projects" class="anchor"></span>

<section class="projects cv-section animation-section" data-section="projects">
  <div class="wrapper">
    <h2 class="section-title title-primary typing" data-es="Proyectos">Projects</h2>

    <div class="interface fading">
      <nav class="menu">
        <span class="select-one"></span>
        <ul>
          <li class="active" data-rel-project="wwwf"><a href="#">Web Foundation</a></li>
          <li data-rel-project="a4ai"><a href="#">The Affordability Report</a></li>
          <li data-rel-project="webindex"><a href="#">The Web Index</a></li>
          <li data-rel-project="circoneuronal"><a href="#">Circo Neuronal</a></li>
          <li data-rel-project="wescountry"><a href="#">WesCountry</a></li>
          <li data-rel-project="landportal"><a href="#">landportal.info</a></li>
          <li data-rel-project="webfoundation"><a href="#">Web Foundation</a></li>
        </ul>
      </nav>
      <div class="viewer">

        <article class="project active" data-project="wwwf">
          <img alt="Web Foundation" src="images/projects/wwwf.png" />
          <div class="features">
            <h3 class="info title">World Wide Web Foundation website</h3>
            <h4 class="info when">2015</h4>
            <h5 class="info tasks" data-es="Gestión del proyecto. Integración de interfaces de usuario y desarrollo de arquitectura en WordPress">
              Project responsible. UX integration and WordPress architecture development.
            </h5>
            <h5 class="info technologies">
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>jQuery</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>WordPress</li>
              </ul>
            </h5>
          </div>
        </article>

        <article class="project" data-project="a4ai">
          <img alt="Affordability Report" src="images/projects/a4ai.png" />
          <div class="features">
            <h3 class="info title">The Affordability Report</h3>
            <h4 class="info when">2015</h4>
            <h5 class="info tasks" data-es="Responsable del proyecto. Diseño, implementación y puesta en funcionamiento.">
              Project responsible. Design, development and deployment.
            </h5>
            <h5 class="info technologies">
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>jQuery</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>WordPress</li>
              </ul>
            </h5>
          </div>
        </article>

        <article class="project" data-project="webindex">
          <img alt="The Web Index 2014" src="images/projects/webindex.png" />
          <div class="features">
            <h3 class="info title">The Web Index 2014</h3>
            <h4 class="info when">2014</h4>
            <h5 class="info tasks" data-es="Responsable del proyecto. Diseño, implementación y puesta en funcionamiento.">
              Project responsible. Design, development and deployment.
            </h5>
            <h5 class="info technologies">
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>WordPress</li>
              </ul>
            </h5>
          </div>
        </article>

        <article class="project" data-project="circoneuronal">
          <img alt="Circo Neuronal" src="images/projects/circo1.png" />
          <div class="features">
            <h3 class="info title">Circo Neuronal</h3>
            <h4 class="info when">2013 - 2014</h4>
            <h5 class="info tasks" data-es="Responsable del proyecto. Diseño, implementación y puesta en funcionamiento.">
              Project responsible. Design, development and deployment.
            </h5>
            <h5 class="info technologies">
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>PHP</li>
                <li>MySQL</li>
                <li>WordPress</li>
              </ul>
            </h5>
          </div>
        </article>

        <article class="project" data-project="wescountry">
          <img alt="WesCountry" src="images/projects/wesCountry.png" />
          <div class="features">
            <h3 class="info title">WesCountry</h3>
            <h4 class="info when">2013 - 2014</h4>
            <h5 class="info tasks" data-es="Responsable del proyecto. Diseño, implementación y puesta en funcionamiento.">
              Project responsible. Design, development and deployment.
            </h5>
            <h5 class="info technologies">
              <ul>
                <li>SVG</li>
                <li>CSS3</li>
                <li>JavaScript</li>
              </ul>
            </h5>
          </div>
        </article>

        <article class="project" data-project="landportal">
          <img alt="Land Portal" src="images/projects/landportal.png" />
          <div class="features">
            <h3 class="info title">landportal.info</h3>
            <h4 class="info when">2013 - 2014</h4>
            <h5 class="info tasks" data-es="Responsable del proyecto. Diseño, implementación y puesta en funcionamiento.">
              Project responsible. Design, development and deployment.
            </h5>
            <h5 class="info technologies">
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>PHP</li>
                <li>Python</li>
                <li>MySQL</li>
                <li>Drupal</li>
                <li>Bootstrap</li>
              </ul>
            </h5>
          </div>
        </article>

        <article class="project" data-project="webfoundation">
          <img alt="Web Foundation" src="images/projects/webfoundation.png" />
          <div class="features">
            <h3 class="info title">Web Foundation</h3>
            <h4 class="info when">2013</h4>
            <h5 class="info tasks" data-es="Responsable del interfaces de usuarios. Diseño, implementación y puesta en funcionamiento.">
              UX Project responsible. Design, development and deployment.
            </h5>
            <h5 class="info technologies">
              <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>JavaScript</li>
                <li>PHP</li>
                <li>Node.js</li>
                <li>MongoDB</li>
              </ul>
            </h5>
          </div>
        </article>

      </div>
    </div>

  </div>
</section>
