<span id="studies" class="anchor"></span>

<section class="studies cv-section" data-section="studies">
  <div class="wrapper">
    <div class="title animation-section">
      <h2 class="section-title title-primary typing" data-es="Estudios" data-ast="Estudios">Studies</h2>
      <span class="section-title title-inverse typing" data-es="Estudios" data-ast="Estudios">Studies</span>
    </div>

    <div class="animation-section fading">

      <span class="command command-1"></span>
      <span class="command command-2"></span>
      <span class="result result-1"></span>

      <article class="study">
        <div class="study-wrapper">
          <div class="description">
            <h3 class="what file" data-es="Máster en Ingeniería Web"
            data-ast="Máster n'Inxeniería Web">Master in Web Engineering</h3>
            <ul class="skills">
              <li>HTML5</li>
              <li>CSS3</li>
              <li>Ruby On Rails</li>
              <li>Python</li>
              <li>Java</li>
              <li>PHP</li>
              <li>C# .NET</li>
              <li>Android</li>
              <li>MySQL</li>
              <li>jQuery</li>
              <li data-es="Patrones de Diseño" data-ast="Patrones de Diseñu">Design Patterns</li>
              <li data-es="Compiladores e Intérpretes" data-ast="Compiladores ya Intérpretes">Compilers and Interpreters</li>
              <li>TDD</li>
            </ul>
          </div>
          <div class="universities">
            <div class="university typing-chain backwards-desktop">
              <h4 class="where">
                <a href="http://www.uniovi.es/" rel="nofollow" class="typing-child" data-es="Universidad de Oviedo" data-ast="Universidá d'Uviéu">
                  University of Oviedo
                </a>
              </h4>
              <h5 class="when typing-child">2013</h5>
            </div>
            <div class="university typing-chain backwards-desktop">
              <h5 class="country typing-child" data-es="Irlanda" data-ast="Irlanda">Ireland</h5>
              <h4 class="where cit">
                <a href="http://www.cit.ie/" rel="nofollow" class="typing-child">
                  CIT - Cork
                </a>
              </h4>
              <h5 class="when typing-child">2013</h5>
            </div>
          </div>
        </div>
      </article>

    </div>
    <div class="animation-section fading">

      <article class="study">
        <div class="study-wrapper">
          <div class="description">
            <h3 class="what file" data-es="Ingeniería Informática de Sistemas"
            data-ast="Inxeniería Informática de Sistemes">Computer Engineering</h3>
            <ul class="skills">
              <li>C</li>
              <li>C++</li>
              <li data-es="Estructura de Datos" data-ast="Estructura de Datos">Data Structures</li>
              <li data-es="Algoritmos" data-ast="Algoritmos">Algorithms</li>
              <li data-es="Sistemas Operativos" data-ast="Sistemes Operativos">Operating Systems</li>
              <li data-es="Redes" data-ast="Redes">Network</li>
              <li data-es="Bases de Datos" data-ast="Bases de Datos">Data Bases</li>
              <li>SQL</li>
              <li data-es="Ingeniería del Software" data-ast="Inxeniería del Software">Software Engineering</li>
            </ul>
          </div>
          <div class="universities">
            <div class="university typing-chain backwards-desktop">
              <h4 class="where">
                <a href="http://www.uniovi.es/" rel="nofollow" class="typing-child" data-es="Universidad de Oviedo" data-ast="Universidá d'Uviéu">
                  University of Oviedo
                </a>
              </h4>
              <h5 class="when typing-child">2007</h5>
            </div>
          </div>
        </div>
      </article>

    </div>
    <div class="animation-section fading">

      <span class="command command-3"></span>
      <span class="command command-4"></span>
      <span class="command command-2"></span>
      <span class="result result-2"></span>

      <article class="language">
        <h3 class="what file" data-es="Español" data-ast="Español">Spanish</h3>
        <h3 class="how" data-es="Hablante nativo" data-ast="Falante nativu">Native Speaker</h3>
      </article>

      <article class="language">
        <h3 class="what file" data-es="Asturiano" data-ast="Asturianu">Asturian</h3>
        <h3 class="how" data-es="Hablante nativo" data-ast="Falante nativu">Native Speaker</h3>
      </article>

      <article class="language">
        <h3 class="what file" data-es="Inglés" data-ast="Inglés">English</h3>
        <h3 class="how">B2</h3>
        <div class="typing-chain backwards-desktop">
          <h4 class="where eoi">
            <a href="http://web.educastur.princast.es/eoi/eoigijon/" rel="nofollow" class="typing-child" data-es="Escuela Oficial de Idiomas" data-ast="Escuela Oficial d'Idiomes">
              State Language School
            </a>
          </h4>
          <h5 class="when typing-child">2003</h5>
        </div>
      </article>

      <article class="language">
        <h3 class="what file" data-es="Francés" data-ast="Francés">French</h3>
        <h3 class="how">A1</h3>
        <div class="typing-chain backwards-desktop">
          <h4 class="where">
            <a href="http://www.uniovi.es/" rel="nofollow" class="typing-child" data-es="Universidad de Oviedo" data-ast="Universidá d'Uviéu">
              University of Oviedo
            </a>
          </h4>
          <h5 class="when typing-child">2008</h5>
        </div>
      </article>

      <article class="language">
        <h3 class="what file" data-es="Alemán" data-ast="Alemán">German</h3>
        <h3 class="how">A1</h3>
        <div class="typing-chain backwards-desktop">
          <h4 class="where">
            <a href="http://www.uniovi.es/" rel="nofollow" class="typing-child" data-es="Universidad de Oviedo" data-ast="Universidá d'Uviéu">
              University of Oviedo
            </a>
          </h4>
          <h5 class="when typing-child">2008</h5>
        </div>
      </article>

      <article class="language">
        <h3 class="what file" data-es="Italiano" data-ast="Italianu">Italian</h3>
        <h3 class="how" data-es="Conocimientos básicos" data-ast="Conocencies básiques">Basic Knowledge</h3>
      </article>

      <p class="command prompt"><span class="cursor"></span></p>

    </div>

  </div>
</section>
