.experience {
  $line-margin: 15px;
  $line-height: 22px;
  counter-reset: line;

  background-color: $c-fore;
  color: #fff;
  position: relative;
  overflow: hidden;

  .wrapper {
    padding: 120px 70px 80px 70px;
    position: relative;
    z-index: 2;
  }

  .pixels {
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .pixel {
      display: block;
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: lighten($c-fore, 1%);

      &:nth-child(even) {
        background-color: darken($c-fore, 1%);
      }
    }
  }

  .ide-bar {
    display: block;
    height: 50px;
    background-color: lighten($c-fore, 5%);
    color: rgba(#fff, 0.6);
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    z-index: 30;

    > * {
      flex: 0 0 auto;
    }

    &:before {
      content: 'juancastro/source/experience.ex'
    }

    &:after {
      content: '1:20';
      letter-spacing: 2px;
    }
  }

  .section-title {
    position: relative;

    &:before,
    &:after {
      font-size: 40px;
      line-height: 34px;
      text-transform: lowercase;
      position: absolute;
      color: $c-fore-light;
    }

    &:before {
      content: 'defmodule';
      top: -34px;
      left: -44px;
    }

    &:after {
      content: 'do';
      bottom: 0;
      right: -50px;
    }
  }

  .line {
    display: block;
    margin-top: $line-margin;
    counter-increment: line;

    &.empty {
      min-height: $line-height;
    }

    &:before {
      width: 40px;
      content: counter(line);
      position: absolute;
      left: -80px;
      color: $c-fore-light;
      text-align: right;
      user-select: none;
    }
  }

  .end {
    &:after {
      content: 'end';
      color: $c-keyword;
    }
  }

  .unindent {
    margin-left: -1 * $tab;
  }

  .indent {
    margin-left: $tab;
  }

  .ide {
    position: relative;
    font: 400 30px/#{$line-height} $f-pixel-condensed;
    color: $c-fore-light;

    .array-start,
    .array-end {
      display: block;
      margin-top: $line-margin;

      &:after {
        content: '[';
      }
    }

    .array-end {
      &:after {
        content: ']';
      }
    }

    .unit-data {
      padding-left: 2 * $tab;
    }

    .basic-content {
      font-size: 30px;
      line-height: $line-height;
      font-weight: 400;
      letter-spacing: 2px;
      margin: $line-margin 0 0 0;
    }

    .desc {
      color: rgba(#fff, 0.6);
      text-transform: lowercase;

      &:after {
        content: ':';
      }
    }

    .string {
      color: $c-secondary;

      &:before {
        content: '"';
      }

      &:after {
        content: '"';
      }
    }

    .number {
      color: $c-number;
    }

    .symbol {
      color: rgba($c-number, 0.8);

      &:before {
        content: ':';
      }
    }

    .trail-comma {
      &:after {
        content: ',';
        margin-left: -6px;
      }
    }

    .where {
      @extend .basic-content;
      color: $c-link;

      a {
        color: $c-link;

        &:hover {
          color: darken($c-link, 20%);
        }
      }

      .link {
        &:before {
          content: 'def';
          color: $c-keyword;
          margin-right: 20px;
          text-decoration: none;
        }

        &:after {
          content: 'do';
          color: $c-keyword;
          margin-left: 20px;
          text-decoration: none;
        }
      }
    }

    .position {
      @extend .basic-content;
    }

    .when {
      @extend .basic-content;
    }

    .description {
      @extend .basic-content;
    }

    .technologies {
      @extend .basic-content;

      ul {
        list-style: none;
        margin: 0;
      }

      .array.inline {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: $line-margin 0;

        > :first-child:before {
          content: '[';
          color: $c-fore-light;
          margin-right: 10px;
        }

        &:after {
          content: ']';
        }

        li {
          margin-right: 10px;

          &:first-child {
            margin-left: 10px;
          }

          &:not(:last-child):after {
            content: ',';
            color: $c-fore-light;
          }
        }
      }

      > ul {
        li:not(:last-child) {
          .array.inline {
            &:after {
              content: '],';
              color: $c-fore-light;
            }
          }
        }
      }
    }
  }

  /* Modifiers */

  .unit:first-child {
    .where {
      width: calc(100% + 20px);
      margin-left: -20px;
      background-color: lighten($c-fore, 5%);
      padding: 5px 0 7px 20px;
      position: relative;

      &:before {
        left: -60px;
      }
    }
  }

  &.in-view {
    .ide-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

@include media($small-desktop) {
  .experience {
    .wrapper {
      padding: 80px 40px 40px 90px;
    }

    .ide {
      font-size: 24px;
      line-height: 26px;

      .basic-content {
        font-size: 24px;
        line-height: 26px;
        margin-top: 10px;
      }

      .unindent {
        margin-left: -20px;
      }

      .unit-data {
        padding-left: 30px;
      }

      .technologies {
        .array.inline {
          > :first-child:before {
            margin-left: -40px;
          }
        }
      }
    }
  }
}

@include media($mobile) {
  .experience {
    .wrapper {
      padding: 80px 20px 20px 20px;
    }

    .section-title {
      &:before {
        left: 0;
      }
    }

    .ide-bar {
      font-size: 12px;
    }

    .line {
      margin-top: 0;
    }

    .ide {
      .unit-data {
        padding-left: 0;
      }

      .unindent {
        margin-left: 0;
        margin-top: 0;
      }

      .technologies {
        ul {
          padding-left: 20px;
        }

        .array.inline > :first-child:before {
          margin-left: -30px;
        }
      }
    }

    .unit {
      &:first-child {
        .where {
          width: calc(100% + 40px);
        }
      }
    }
  }
}
