.footer {
  background-color: darken($c-secondary, 10%);

  > .wrapper {
    padding: 70px 70px 90px 70px;
  }

  .game-over {
    margin: 0 0 30px 0;
    font: 400 80px/80px $f-pixel-condensed;
    text-align: center;
    text-transform: uppercase;
    color: #fff;

    &:before {
      content: 'Game Over!';
    }
  }

  .name {
    font: 400 100px/80px $f-pixel;
    text-align: center;
    text-transform: uppercase;
    margin: 70px 0 0 0;
    color: darken($c-secondary, 13%);

    &:before {
      content: '</';
      margin-right: -20px;
    }

    &:after {
      content: '>';
    }
  }

  .links {
    text-align: center;
  }

  .link {
    display: inline-block;
    font: 400 30px/30px $f-pixel-condensed;
    text-align: center;
    padding: 10px 20px;
    margin: 0 20px 20px 20px;
    text-decoration: none;
    background-color: $c-primary;
    color: #fff;

    &:hover {
      background-color: darken($c-primary, 10%);
    }

    &.linkedin {
      background-color: #0077b5;
      color: $c-fore;

      &:hover {
        background-color: darken(#0077b5, 10%)
      }

      span {
        color: #fff;
      }
    }

    &.twitter {
      background-color: #1da1f2;
      color: #fff;

      &:hover {
        background-color: darken(#1da1f2, 10%)
      }
    }

    &.github {
      background-color: #24292e;
      color: #fff;

      &:hover {
        background-color: darken(#24292e, 10%)
      }
    }
  }
}

@include media($tablet-landscape) {
  .footer {
    .wrapper {
      padding: 70px 30px 90px 30px;
    }

    .name {
      font-size: 80px;
      line-height: 80px;
      margin-top: 40px;
    }

    .link {
      width: 40%;
    }
  }
}

@include media($mobile) {
  .footer {
    .wrapper {
      padding: 40px 20px 50px 20px;
    }

    .link {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
    }

    .name {
      font-size: 30px;
      line-height: 30px;
      margin-top: 40px;

      &:before {
        margin-right: -10px;
      }
    }
  }
}
