.projects {
  background-color: $c-fore;
  background-image: url('../images/pixels.png');
  background-repeat: repeat;
  color: #fff;
  position: relative;
  min-height: 100vh;

  > .wrapper {
    padding: 90px 70px 80px 70px;
  }

  .interface {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 200px);

    .menu {
      width: 35%;
      flex: 0 0 auto;
      background-color: lighten($c-fore, 5%);
      padding: 20px 0;

      .select-one {
        display: block;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        font-size: 40px;

        &:before {
          content: '-- Select --';
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          &.active {
            background-color: $c-secondary;

            a {
              color: $c-fore;
            }
          }

          a {
            display: inline-block;
            text-decoration: none;
            color: #fff;
            font-size: 26px;
            line-height: 45px;
            padding: 4px 15px;
          }
        }
      }
    }

    .viewer {
      width: 65%;
      flex: 0 0 auto;
      padding-left: 40px;

      .project {
        display: none;
        flex-direction: column;
        height: 100%;

        &.active {
          display: flex;
        }

        img {
          width: 100%;
          flex: 0 0 auto;
        }

        .features {
          flex: 1 1 auto;
          background-color: lighten($c-fore, 5%);
          margin-top: 20px;
          padding: 40px 30px;

          .info {
            font: 400 22px/25px $f-pixel-condensed;
            margin: 0 0 20px 0;
            width: 100%;
            padding-left: 15%;
            position: relative;

            &:before {
              color: lighten($c-fore, 20%);
              margin-right: 20px;
              min-width: 15%;
              display: inline-block;
              position: absolute;
              left: 0;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          .title {
            &:before {
              content: 'title:';
            }
          }

          .when {
            &:before {
              content: 'year:';
            }
          }

          .tasks {
            &:before {
              content: 'tasks:';
            }
          }

          .technologies {
            ul {
              padding: 0;
              list-style: none;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              margin: 20px 0 0 0;

              li {
                flex: 0 0 auto;
                margin-right: 10px;
                color: $c-number;

                &:after {
                  content: ',';
                }

                &:last-child {
                  &:after {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@include media($small-desktop) {
  .projects {
    min-height: 850px;

    .wrapper {
      padding: 60px 30px 40px 30px;
    }

    .interface {
      min-height: 700px;

      .viewer {
        .project {
          .features {
            .info {
              padding-left: 20%;
            }
          }
        }
      }
    }
  }
}

@include media($tablet) {
  .projects {
    min-height: 100vh;

    .interface {
      min-height: calc(100vh - 200px);
    }
  }
}

@include media($mobile) {
  .projects {
    min-height: inherit;

    .wrapper {
      padding: 60px 0 20px 0;
    }

    .section-title {
      padding: 0 20px 20px 20px;
    }

    .interface {
      height: inherit;
      min-height: inherit;
      display: block;

      .menu {
        display: none;
      }

      .viewer {
        width: 100%;
        padding: 0;

        .project {
          display: block;
          margin-bottom: 30px;

          .features {
            padding: 20px;

            .info {
              padding-left: 25%;
            }
          }
        }
      }
    }
  }
}
