.studies {
  $line-margin: 15px;
  $line-height: 22px;
  $c-terminal: darken($c-secondary, 10%);
  $c-command: rgba(#fff, 0.4);
  $command-margin: -70px;

  background-color: $c-terminal;
  color: #fff;
  position: relative;
  min-height: 100vh;

  > .wrapper {
    padding: 90px 70px 80px 70px;
  }

  .title {
    position: relative;

    .title-primary {
      font-family: $f-pixel-condensed;
    }

    .title-inverse {
      font-family: $f-pixel-condensed;
      color: #fff;
      position: absolute;
      top: 4px;
      left: 3px;
    }
  }

  .basic-content {
    font-size: 30px;
    line-height: $line-height;
    font-weight: 400;
    letter-spacing: 2px;
    margin: $line-margin 0 0 0;
  }

  .command {
    @extend .basic-content;
    display: block;
    height: $line-height;
    position: relative;

    .cursor {
      background-color: darken($c-secondary, 15%);
      margin-left: 6px;
      width: 15px;
    }

    &:before {
      content: 'juancastro>';
      color: darken($c-secondary, 15%);
      margin-left: $command-margin;
    }

    &:after {
      color: $c-command;
      margin-left: 20px;
    }

    &.command-1 {
      &:after {
        content: 'cd Studies/University/';
      }
    }

    &.command-2 {
      &:after {
        content: 'ls -la';
      }
    }

    &.command-3 {
      margin-top: 40px;

      &:after {
        content: 'cd ..';
      }
    }

    &.command-4 {
      &:after {
        content: 'cd Languages/';
      }
    }
  }

  .result {
    @extend .basic-content;
    display: block;
    height: $line-height;
    color: $c-command;

    &.result-1 {
      &:before {
        content: 'total 2';
        margin-left: $command-margin;
      }
    }

    &.result-2 {
      &:before {
        content: 'total 6';
        margin-left: $command-margin;
      }
    }
  }

  .file {
    @extend .basic-content;
    color: $c-fore;
    text-transform: uppercase;
  }

  .study {
    margin-bottom: 20px;
  }

  .what {
    display: inline-block;
    margin-right: 20px;
  }

  .country {
    @extend .basic-content;
    display: inline-block;
    background-color: #005696;
    color: #fff;
    padding: 5px 6px 7px 10px;
  }

  .where {
    @extend .basic-content;
    display: inline-block;
    margin-left: -3px;

    a {
      display: inline-block;
      padding: 5px 6px 7px 10px;
      background-color: $c-primary;
      color: #fff;
      text-decoration: none;

      &:hover {
        background-color: darken($c-primary, 10%);
      }
    }

    &.cit {
      a {
        $c-cit: #B51845;
        background-color: $c-cit;

        &:hover {
          background-color: darken($c-cit, 10%);
        }
      }
    }

    &.eoi {
      a {
        background-color: $c-number;

        &:hover {
          background-color: darken($c-number, 10%);
        }
      }
    }
  }

  .when {
    @extend .basic-content;
    display: inline-block;
    background-color: $c-fore;
    color: #fff;
    padding: 5px 6px 7px 10px;
    margin-left: -3px;
  }

  .how {
    @extend .basic-content;
    display: inline-block;
    color: darken($c-secondary, 30%);
    padding: 5px 6px 7px 10px;
  }

  .study-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .description,
    .universities {
      width: 50%;
      flex: 0 0 auto;
    }

    .university {
      text-align: right;
    }
  }

  .skills {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
  }

  .language {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > * {
      flex: 0 0 auto;
    }

    .what {
      min-width: 25%;
      flex: 0 0 auto;
    }

    .how {
      flex: 1 0 auto;
    }
  }
}

@include media($small-desktop) {
  .studies {
    .wrapper {
      padding: 60px 30px 40px 30px;
    }

    .command {
      &:before {
        margin-left: 0;
      }
    }

    .result {
      &.result-1 {
        &:before {
          margin-left: 0;
        }
      }

      &.result-2 {
        &:before {
          margin-left: 0;
        }
      }
    }

    .what {
      margin-right: 0;
    }

    .where,
    .when,
    .country {
      font-size: 20px;
    }

    .study-wrapper {
      flex-direction: column;

      .description {
        width: 100%;
      }

      .universities {
        width: 100%;
      }

      .university {
        text-align: left;
      }
    }
  }
}

@include media($mobile) {
  .studies {
    .wrapper {
      padding: 60px 20px 40px 20px;
    }

    .study {
      margin-bottom: 40px;
    }

    .command {
      font-size: 12px;
      line-height: 14px;
      margin-top: 0;

      &.prompt {
        font-size: 22px;
        line-height: 22px;
        margin-top: 20px;
      }
    }

    .result {
      &.result-1 {
        font-size: 12px;
        line-height: 14px;
        margin-top: 0;
      }

      &.result-2 {
        font-size: 12px;
        line-height: 14px;
        margin-top: 0;
      }
    }

    .where,
    .when,
    .country {
      font-size: 14px;
    }

    .language {
      display: block;

      .how {
        display: block;
      }

      .where {
        margin-left: 0;
        position: relative;
        left: 10px;
      }

      .when {
        margin-left: 0;
        position: relative;
        left: 7px;
      }
    }
  }
}
